#### Functional Programing

In [3]:
def func(x, y):
    return x*y

foo = lambda x,y: x+y
#print type(foo)
#print dir(foo)
print foo(10, 5)

15

In [6]:
#Map
l = ('abcde', 'rstuv')
a = ('fghig', 'rstuv')

def foo(x, y):
    return x+y

print map(foo, l, a)

['abcdefghig', 'rstuvrstuv']

In [5]:
# filter

l = [1,2,3,4,5,6,7]

def odd(num):
    if num % 2 != 0:
        return True
    else:
        return False

print filter(odd, l)
#print l

print [ i for i in l if i%2 != 0]

[1, 3, 5, 7]
[1, 3, 5, 7]

In [11]:
# reduce
x = lambda a,b: a+b

l = [ 4, 6, 8, 10, 11]
#s = 4*6*8*10
#print s
# print help(reduce)

#print reduce(x, l)
#print help(reduce)

39
Help on built-in function reduce in module __builtin__:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

None

In [6]:
l = ('a', 'b', 'c', 'd')
d = (1,2,3,4)
c = ('apple', 'mango', 'pineapple')
print zip(l, d, c)

[('a', 1, 'apple'), ('b', 2, 'mango'), ('c', 3, 'pineapple')]

In [13]:
keys = ['a','b','c']
values = [1,4,5]
print zip(keys, values)
d = dict(zip(keys,values))
print d

[('a', 1), ('b', 4), ('c', 5)]
{'a': 1, 'c': 5, 'b': 4}

In [14]:
from functools import partial

def func(x, y, z):
    return x*y*z

pt = partial(func, x=2, z=5)
print pt(y=4)

40

In [17]:
from collections import namedtuple

Point = namedtuple('Point', 'x, y')
Row = namedtuple('record', 'id, name, dept')
r = Row(10, 'Vipin', 'CSG')
print r.name
print type(r)

#p = Point(3,5)
#print p.x
#print p.y

Vipin
<class '__main__.record'>