## String formatting

#### Using % for string substitution and formatting

In [13]:
name = 'Vipin'
greeting = "Hello, my name is %s"
print greeting % name

Hello, my name is Vipin

In [2]:
st = '%s is the capital of %s'
print st % ('Bangalore', 'Karnataka')
print st % ('New Delhi', 'India')

Bangalore is the capital of Karnataka
New Delhi is the capital of India

In [7]:
st = 'Name: %s    Age: %d'
print st % ('Joe', 36)
print st % ('Bob', 28)

Name: Joe    Age: 36
Name: Bob    Age: 28

In [8]:
st = 'The price of %s is Rs.%.2f'
print st % ('Coconut', 24.5)
print st % ('Tomato', 30)

The price of Coconut is Rs.24.50
The price of Tomato is Rs.30.00

In [16]:
details = {
    'name': 'Jack',
    'age': 38,
    'status': 'Married'
}

st = '''
The candidates name is %(name)s and he is %(age)d years old.
%(name)s is %(status)s
'''
print st % details

The candidates name is Jack and he is 38 years old.
Jack is Married

#### Using string.format() method

In [14]:
name = 'Vipin'
greeting = "Hello, my name is {}"

print greeting.format(name)

Hello, my name is Vipin

In [2]:
st = '{0} is the capital of {1}'
print st.format('Bangalore', 'Karnataka')
print st.format('New Delhi', 'India')

Bangalore is the capital of Karnataka
New Delhi is the capital of India

In [19]:
st = 'Name: {0}    Age: {1}'
print st.format('Joe', 36)
print st.format('Bob', 28)

Name: Joe    Age: 36
Name: Bob    Age: 28

In [22]:
st = 'The price of {0} is Rs.{1:.2f}'
print st.format('Coconut', 24.5)
print st.format('Tomato', 30)

The price of Coconut is Rs.24.50
The price of Tomato is Rs.30.00

In [24]:
details = {
    'name': 'Jack',
    'age': 38,
    'status': 'Married'
}

st = '''
The candidates name is {name} and he is {age} years old.
{name} is {status}
'''
print st.format(**details)

The candidates name is Jack and he is 38 years old.
Jack is Married